body {
    display: block;
    height: 2000px;
    margin: 0;
    padding: 0;
}
h1, .logo, .container {
    font-family: verdana;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
h2 {
    color: #000000;
    font-size: 40px;
    top: 40%;
}
.container {
    height: 100%;
    left: 50%;
    margin-left: -300px;
    opacity: 0;
    overflow: hidden;
    width: 600px;
}
.logo {
    background: url("../images/lucinda_logo.png") no-repeat scroll center center #FFFFFF;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 10000px;
    width: 100%;
}
nav {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    position: fixed;
    top: 200px;
    z-index: 10;
}
nav ul {
    list-style: none outside none;
    margin: 0;
    overflow: auto;
}
nav li {
}
nav a {
    color: #253652;
    display: block;
    font-family: verdana;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
}
nav a:hover {
    background: none repeat scroll 0 0 #253652;
    color: #FFFFFF;
}
a {
    color: #253652;
    font-family: verdana;
    font-weight: bold;
    text-decoration: none;
}
.portfolio {
    width: 100px;
}
